"*":
  core:
    audioBeep: false
    closeEmptyWindows: false
    telemetryConsent: "no"
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "**/cover/*.html"
      "**/doc/*.html"
    ]
  editor:
    autoIndentOnPaste: false
    preferredLineLength: 100
    showInvisibles: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
